pair-out/
census-out/
banda-out/
metro-out/
*.log
p2-progress.txt
p2-chain.done
cbargs-progress.txt
cbargs-chain.done
cbargs2-progress.txt
cbargs2-chain.done
census-redo.done
promo-out/
promo2-daemon.log
